/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.ul-sec {
  background-color: rgb(66, 66, 162);
  li {
    list-style: none;
    display: inline-block;
    margin: 8px;
    /* background: blue; */
    color: #fff !important;
    a {
      color: #fff !important;
      text-align: center;
      text-decoration: none;
    }
    a:hover{
      cursor: pointer;
      border-bottom: 2px solid #fff;
    }
  }
}
